
body {
  font-family: 'Allerta Stencil', sans-serif;
  font-family: 'Bebas Neue', cursive;
}

.container-flex {
  /* font-family: 'Great Vibes', cursiva; */
  font-family: 'Lobster Two', cursiva; */
}
/* 
#Fondoimg {
  background-image: url("Asset/Img/Yo.JPG");
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1250px;
} */
/*
.Texto2 {
  display: inline-flex;
} */
